<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="cadastro()">
    <!-- Username -->
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <!-- Nome Completo -->
    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome_completo" name="nome_completo" required></ion-input>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <!-- Data de Nascimento -->
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="date" [(ngModel)]="usuario.data_nascimento" name="data_nascimento" required></ion-input>
    </ion-item>

    <!-- Contato -->
    <ion-item>
      <ion-label position="floating">Contato</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.contato" name="contato" required></ion-input>
    </ion-item>

    <ion-radio-group [(ngModel)]="usuario.residencia" [ngModelOptions]="{ standalone: true }" (ionChange)="onRadioChange($event)">

      <ion-list>
        <ion-list-header>
          <ion-label position="">Localidade</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let l of locais_escolha">
          <ion-label>{{ l.cidade }}-{{ l.estado }}</ion-label>
          <ion-radio slot="start" [value]="l.id"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-item >
      <ion-label>Escolha as modalidades</ion-label>
      <ion-select [(ngModel)]="modalidades" multiple="true" [ngModelOptions]="{ standalone: true }">
        <ion-select-option *ngFor="let modalidade of modalidades_escolha" [value]="modalidade.id" >
          {{ modalidade.modalidade }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botão de Submit -->
    <ion-button expand="block" type="submit" color="primary">Cadastrar</ion-button>
  </form>
</ion-content>
