<ion-toolbar style="--background: #2D2F2D;">
  <ion-buttons style="--background: #2D2F2D;">
    
    <ion-button (click)="openMenu()" style="--background: #2D2F2D;">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    
    <ion-button (click)="voltar()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

  </ion-buttons>
</ion-toolbar>


<ion-content scrollY="false">

  <ion-card color="light" style="border: 2px solid #00FFA6;">
    <ion-card-header>
      <ion-card-title>Procurar Partida</ion-card-title>
    </ion-card-header>
    
    <ion-card-content color="light">

        <ion-label>

          <ion-item [button]="true" [detail]="false" id="open-modalidade" color="light">
            <ion-icon name="baseball-outline" style="margin-right: 10px;"></ion-icon><ion-label>Selecionar Modalidade</ion-label>
          </ion-item>
  
          <ion-modal trigger="open-modalidade" #modal_modalidade color="light"> 
            <ng-template color="light">
              <filtro-radio
              *ngIf="modalidades_escolha.length > 0"
              [itens]="modalidades_escolha"
              (atualizar)="modalidade_selecionada($event)"
              (cancelar)="modal_modalidade.dismiss()">
              </filtro-radio>
            </ng-template>
          </ion-modal>

        </ion-label>
        <br>
        <ion-label>

          <ion-item [button]="true" [detail]="false" id="open-ct" color="light">
            <ion-icon name="location-outline" style="margin-right: 10px;"></ion-icon><ion-label>Selecionar CT</ion-label>
          </ion-item>
  
          <ion-modal trigger="open-ct" #modal_ct_pol color="light"> 
            <ng-template color="light">
              <filtro-radio
              *ngIf="ctpols_escolha.length > 0"
              [itens]="ctpols_escolha"
              (atualizar)="ct_pol_selecionado($event)"
              (cancelar)="modal_ct_pol.dismiss()">
              </filtro-radio>
            </ng-template>
          </ion-modal>

        </ion-label>

    </ion-card-content>

        <div *ngIf="partidas.length > 0; else sem_partida">
          <div *ngFor="let p of partidas;" class="partida">
            <p> <strong>{{ p.ct }}, {{ p.modalidade }}</strong> </p>
            <p>Data: {{ p.data }}</p>
            <p>Inicio: {{ p.inicio }}</p>
            <p>Término: {{ p.fim }}</p>
          </div>          
        </div>
        
        <ng-template #sem_partida>
          <div class="sem_partida">
            <h2 style="font-size: 17px; color: red;">Nenhuma partida encontrada!</h2>
            <br>
            <ion-button style="--background: #1B825D">
              Crie uma partida!
            </ion-button>
          </div>
        </ng-template>


    <ion-toast
    [isOpen]="tem_partida"
    [message]="mensagem_torrada"
    [duration]="2000"
    (didDismiss)="m_torrada(false, '')"
    color="danger"
  ></ion-toast>

  </ion-card>

  <!-- <ion-toast
  [isOpen]="dados_validos"
  [message]="mensagem_erro"
  [duration]="2000"
  (didDismiss)="m_torrada(false, '')"
  color="danger"
  ></ion-toast> -->

</ion-content>