ion-content {
    --background: #2D2F2D;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

ion-card {
    width: 90%;
    margin: auto;
}

ion-card-title {
    font-size: 40px;
    align-items: center;
    text-align: center;
}

ion-button {
    text-transform: none;
    width: 60%;
    margin: auto;
}

.logo_kickmatch
{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}