<ion-content scrollY="false">

  <div>
    <ion-thumbnail slot="start" class="logo_kickmatch">
      <img alt="Logo KickMatch" src="../../assets/static/logo_kickmatch.png" />
    </ion-thumbnail>
  </div>

  <ion-card color="light" style="border: 2px solid #00FFA6;" >
    <ion-card-header>
      <ion-card-title>Cadastro</ion-card-title>
    </ion-card-header>
    
    <ion-card-content color="light">
      
      <form (submit)="cadastro()">
        
        <ion-item color="light">
          <ion-input placeholder="" 
                    type="text" 
                    [(ngModel)]="username" 
                    name="username" 
                    [clearInput]="true"
                    fill="outline"
                    required><ion-icon name="person-outline" style="margin-right: 10px;"></ion-icon>Username</ion-input>
        </ion-item>
        <br>
        <ion-item color="light">
          <ion-input placeholder="" 
                    type="password" 
                    [(ngModel)]="password" 
                    name="password" 
                    [clearInput]="true"
                    fill="outline"
                    required><ion-icon name="lock-closed-outline" style="margin-right: 10px;"></ion-icon>Password</ion-input>
        </ion-item>
        <br>
        <ion-item color="light">
          <ion-input placeholder="" 
                    type="text" 
                    [(ngModel)]="usuario.nome_completo" 
                    name="nome_completo" 
                    [clearInput]="true"
                    fill="outline"
                    required><ion-icon name="lock-closed-outline" style="margin-right: 10px;"></ion-icon>Nome Completo</ion-input>
        </ion-item>
        <br>

        <ion-item color="light">
          <ion-input placeholder="" 
                    type="date"
                    [(ngModel)]="usuario.data_nascimento" 
                    name="data_nascimento" 
                    [clearInput]="true"
                    fill="outline"
                    required><ion-icon name="calendar-outline" style="margin-right: 10px;"></ion-icon>Data de Nascimento</ion-input>
        </ion-item> 
        <br>
        <ion-item color="light">
          <ion-input placeholder="" 
                    type="email" 
                    [(ngModel)]="usuario.email" 
                    name="email" 
                    [clearInput]="true"
                    helperText="Entre com um email válido"
                    errorText="Email inválido"
                    ngModel
                    email
                    fill="outline"
                    required><ion-icon name="mail-outline" style="margin-right: 10px;"></ion-icon>Email</ion-input>
        </ion-item>
        <br>
        <ion-item color="light">
          <ion-input placeholder="(XX) XXXXX-XXXX" 
                    type="text" 
                    [(ngModel)]="usuario.contato" 
                    name="contato" 
                    [clearInput]="true"
                    fill="outline"
                    required><ion-icon name="call-outline" style="margin-right: 10px;"></ion-icon>Contato</ion-input>
        </ion-item>
        <br>

        <ion-item color="light" fill="outline">

          <ion-item [button]="true" [detail]="false" id="open-modalidades" color="light">
            <ion-icon name="baseball-outline" style="margin-right: 10px;"></ion-icon><ion-label>Selecionar modalidades</ion-label>
          </ion-item>

  
          <ion-modal trigger="open-modalidades" #modal_modalidades color="light"> 
            <ng-template color="light">
                <app-typeahead color="light"
                  class="ion-page"
                  [itens]="modalidades_para_escolha"
                  [itens_selecionados]="modalidades_escolhidas"
                  (atualizar)="modalidade_selecionadas($event)"
                  (cancelar)="modal_modalidades.dismiss()"
                ></app-typeahead>
            </ng-template>
          </ion-modal>
        </ion-item>

        <br>

        <ion-item color="light" fill="outline">

          <ion-item [button]="true" [detail]="false" id="open-localidades" color="light">
            <ion-icon name="location-outline" style="margin-right: 10px;"></ion-icon><ion-label>Selecionar localidade</ion-label>
          </ion-item>
  
          <ion-modal trigger="open-localidades" #modal_localidade color="light"> 
            <ng-template color="light">
              <filtro-radio
              *ngIf="locais_para_escolha.length > 0"
              [itens]="locais_para_escolha"
              (atualizar)="localidade_selecionada($event)"
              (cancelar)="modal_localidade.dismiss()">
              </filtro-radio>
            </ng-template>
          </ion-modal>
          
        </ion-item>
        
        <br>
        <br>

        <ion-button expand="block" type="submit" color="dark" size="large">Cadastrar-se</ion-button>
        <br>
          <ion-router-link routerLink="/login" 
          color="primary" 
          style="text-decoration: underline;
          font-size: 15px;">
          Já tem conta? Faça o login!</ion-router-link>
      </form>

    </ion-card-content>
  </ion-card>

  <ion-toast
  [isOpen]="dados_validos"
  [message]="mensagem_erro"
  [duration]="2000"
  (didDismiss)="m_torrada(false, '')"
  color="danger"
  ></ion-toast>

</ion-content>