<ion-header color="light">
  <ion-toolbar color="light">
    <ion-buttons slot="start" >
      <ion-button color="danger" [strong]="true" (click)="cancelar_selecao()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" [strong]="true" (click)="confirmar_selecao()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="light">
    <ion-searchbar (ionInput)="entrada_pesquisa($event)" color="light"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content color="light">
  <ion-list id="modal-list" [inset]="true" color="light">
    <ion-item *ngFor="let item of itens_filtrados; trackBy: procurar_itens" color="light">
      <ion-checkbox 
      [value]="item.id" 
      [checked]="esta_checado(item.value)" 
      (ionChange)="mudanca_checagem($event)" color="light">
        {{ item.value }}</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>